/* ************************************************************
	Form
************************************************************ */

/* Checkbox */
.checkbox {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
input[type='checkbox'] {
	width: 2rem;
	height: 2rem;
	margin: 0;
}
input[type='checkbox'] + label {
	padding-left: 0.6rem;
	font-size: 1.4rem;
	line-height: 2rem;
}

/* Radio */
.radio {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
input[type='radio'] {
	width: 2rem;
	height: 2rem;
	margin: 0;
}
input[type='radio'] + label {
	padding-left: 0.6rem;
	font-size: 1.4rem;
	line-height: 2rem;
}