/* ************************************************************
	Variable
************************************************************ */

:root {
	--color-black: #000;
	--color-white: #fff;

	--color-gray100: #f4f4f5;
	--color-gray200: #e4e4e7;
	--color-gray300: #d4d4d8;
	--color-gray400: #a1a1aa;
	--color-gray500: #71717a;
	--color-gray600: #52525b;
	--color-gray700: #3f3f46;
	--color-gray800: #27272a;
	--color-gray900: #18181b;

	--color-primary: #3b82f6;
	--color-secondary: #ec4899;

	--color-btn-default: #ccc;
	--color-btn-primary: #3b82f6;
	--color-btn-secondary: #ec4899;
}